.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #1d2b3a;
}
/* .container{

} */
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.form {
    display: flex;
    flex-direction: column;
}
.field{
    background-color: #1d2b3a;
    border: 1px solid rgba(225, 225, 225, 0.25);
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 10%;
    font-size: 1em;
    color: #fff;
    width: 100%;
}
