.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    width: 500px;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.form{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: fit-content;
}
.field{
    width: 100%;
}
